 :root {
  --black:  rgb(11, 20, 24, 1);
  --black-transparent:  rgb(11, 20, 24, 0.75);
  --light-black: #302B2B;
  --yellow: #ccbb00;
  --yellow-hover: rgb(204, 187, 0, 0.75);
  --orange: #e62e00;
  --grey: #b9b9b9;
  --pink: #D44D4D;
  --pink-hover: rgba(212, 77, 77, 0.676);
  --white: rgb(226, 221, 211);
  --shadow: rgba(226, 221, 211, 0.747);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 2000px;
  margin: 0 auto;
}
section,div {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  margin: unset;
  line-height: 1;
}
p {
  line-height: 1.5;
  margin: unset;
}

main {
  background-color: #e2ddd3;
  color: var(--black);
  min-height: 100vh;
}

.link {
  display: inline-flex;
  text-decoration: none;
  width: 100%;
}

.link-inner {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--black);
  opacity: 1;
  transition: background-color 0.3s ease;
  text-decoration: none;
  background-color: var(--orange);
  padding: 0.75rem 0.75rem;
  width: 150px;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.link-inner > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 73%;
  transition: left 200ms ease-out;
}

.link-inner:hover > svg {
  left: 87%;
}

@media (max-width: 1024px) {
  .link-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .link-inner > svg {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
    transition: unset;
  }
}

.hero-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.header-inner > h1 {
  color: var(--orange);
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  overflow: hidden;
  min-height: 30rem;
  padding: 0;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  margin: 0 auto;
  max-width: 75rem;
  height: 75vh;
  z-index: 1;
}

.hero-title {
  position: relative;
}

.hero-svg {
  position: absolute;
  right: 10%;
  transform: scale(2.75);
  filter: brightness(50%);
  z-index: 0;
  overflow: hidden;
}

.hero-title > h1 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-start: 0;
  z-index: 1;
}

.subtitle {
  position: relative;
  z-index: 1;
}

.subtitle > p {
  color: var(--yellow);
  font-weight: 500;
  font-size: 1.75rem;
  z-index: 1;
}

@media (max-width: 425px) {
  .header-inner > h1 {
    font-size: 2rem;
  }
  .hero-inner {
    padding: 0 2rem;
  }
  .hero-svg {
    right: -22%;
    transform: scale(2.5);
  }
  .hero-title > h1 {
    font-size: 2.75rem;
  }
  .subtitle > p {
    font-size: 1.25rem;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .header-inner > h1 {
    font-size: 1.75rem;
  }
  .hero-inner {
    padding: 0 2rem;
  }
  .hero-svg {
    right: -5%;
    transform: scale(2.5);
  }
  .hero-title > h1 {
    font-size: 2.75rem;
  }
  .subtitle > p {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-inner > h1 {
    font-size: 1.75rem;
  }
  .hero-inner {
    padding: 0 4rem;
  }
  .hero-svg {
    right: -5%;
    transform: scale(2.5);
  }
  .hero-title > h1 {
    font-size: 4rem;
  }
  .subtitle {
    width: 50vw;
  }
  .subtitle > p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .header-inner > h1 {
    font-size: 2rem;
  }
  .hero-inner {
    padding: 0 2rem;
  }
  .hero-svg {
    right: -25%;
    transform: scale(2.5);
  }
  .hero-title > h1 {
    font-size: 2.75rem;
  }
  .subtitle > p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1921px) {
  .hero-section {
    align-items: center;
    justify-content: center;
    padding: 6rem;
    height: 25vh;
  }
  .hero-title {
    justify-content: center;
  }
  .hero-svg {
    right: 8%;
    transform: scale(4);
  }
  .hero-title > h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  .subtitle > p {
    font-size: 2rem;
  }
}

.about-section {
  position: relative;
  display: flex;
  padding: 3rem 0;
  max-width: 72rem;
  margin: 0 auto;
}

.about-section-header {
  width: 100%;
}

.about-section-header > h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 2.25rem;
}

.about-section-inner {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  border-bottom: 0.25px solid var(--grey);
  gap: 1rem;
  opacity: 1;
  padding: 2rem;
  animation: tab-content-slide 500ms ease-in-out;
}

.about-content > p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--black);
}

.about-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 426px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .about-section-inner {
    flex-direction: column;
    border-radius: 0;
  }
  .about-content {
    border-right: unset;
    border-bottom: 0.25px solid var(--grey);;
    padding: 1rem;
  }
  .about-links {
    width: 100%;
    padding: 1.25rem 0.75rem;
    justify-content: flex-start;
  }
  .about-links > .links {
    width: 100%;
    gap: 1rem;
  }
  .about-links > .links > .link {
    width: 100%;
  }
  .about-links > .links > .link > .link-inner {
    width: 100%;
  }
}
@media (min-width: 427px) and (max-width: 440px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .about-section-inner {
    flex-direction: column;
    border-radius: 0;
  }
  .about-content {
    border-right: unset;
    border-bottom: 0.25px solid var(--grey);;
    padding: 1.5rem;
  }
  .about-links {
    width: 100%;
    padding: 1.25rem 0.75rem;
    justify-content: flex-start;
  }
  .about-links > .links {
    width: 100%;
    gap: 1rem;
  }
  .about-links > .links > .link {
    width: 100%;
  }
  .about-links > .links > .link > .link-inner {
    width: 100%;
  }
}
@media (min-width: 441px) and (max-width: 612px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .about-section-inner {
    flex-direction: column;
    border-radius: 0;
  }
  .about-content {
    border-right: unset;
    border-bottom: 0.25px solid var(--grey);;
    padding: 1.5rem;
  }
  .about-links {
    width: 100%;
    padding: 1.25rem 0.75rem;
    justify-content: flex-start;
  }
  .about-links > .links {
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
  .about-links > .links > .link {
    width: 150px;
  }
  .about-links > .links > .link > .link-inner {
    width: 100%;
  }
}
@media (min-width: 613px) and (max-width: 775px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .about-section-inner {
    flex-direction: column;
    border-radius: 0;
  }
  .about-content {
    border-right: unset;
    border-bottom: 0.25px solid var(--grey);;
    padding: 1.5rem;
  }
  .about-links {
    width: 100%;
    padding: 1.25rem 0.75rem;
    justify-content: center;
  }
  .about-links > .links {
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
  .about-links > .links > .link {
    width: 150px;
  }
  .about-links > .links > .link > .link-inner {
    width: 100%;
  }
}
@media (min-width: 776px) and (max-width: 1279px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
  .about-section-inner {
    flex-direction: column;
    border-radius: 0;
  }
  .about-content {
    border-right: unset;
    border-bottom: 0.25px solid var(--grey);;
    padding: 1.5rem;
  }
  .about-links {
    width: 100%;
    padding: 1.25rem 0.75rem;
    justify-content: flex-start;
  }
  .about-links > .links {
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
  .about-links > .links > .link {
    width: 150px;
  }
  .about-links > .links > .link > .link-inner {
    width: 100%;
  }
}


.skills-rank-section {
  background-color: var(--yellow);
}

.skills-rank-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--black);
}

.skills-rank-header > h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 2rem 1rem;
}

.skills-rank-header > p {
  color: var(--orange);
  font-weight: 600;
  font-size: 1rem;
}

.skills-rank-pan {
  padding: 2rem 0;
}

.skills-rank-box {
  display: flex;
  user-select: none;
  padding: 0 1rem;
}

.skill-category-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-category-label > h1 {
  font-size: 1.25rem;
  color: var(--black);
}

.skill-category-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.25rem;
  border: 2px solid var(--black);
  border-radius: 1rem;
  width: 100%;
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skill-label {
  display: flex;
}
.skill-label > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}
.skill-rank {
  display: flex;
}

.rank-svg-mobile {
  display: none;
}

@media (max-width: 426px) {
  .skills-rank-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    padding: 1.5rem 0.5rem;
  }
  .skills-rank-header > h1 {
    font-size: 1.75rem;
  }
  .skill-category-label > h1{
    font-size: 1rem;
  }
  .skill-category-inner {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
  }
  .skill-label > span {
    font-size: 0.75rem;
    font-weight: 600;
  }
  .rank-svg-mobile {
    display: block;
  }
  .rank-svg-desktop {
    display: none;
  }
}
@media (min-width: 427px) and (max-width: 440px) {
  .skills-rank-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
  }
  .skill-category-label > h1{
    font-size: 1rem;
  }
  .skill-category-inner {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
  }
  .skill-label > span {
    font-size: 0.75rem;
    font-weight: 600;
  }
  .rank-svg-mobile {
    display: block;
  }
  .rank-svg-desktop {
    display: none;
  }
}
@media (min-width: 441px) and (max-width: 612px) {
  .skills-rank-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
  }
  .skill-category-label > h1{
    font-size: 1.25rem;
  }
  .skill-category-inner {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
  }
  .skill-label > span {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width: 613px) and (max-width: 775px) {
  .skills-rank-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .skill-category-label > h1{
    font-size: 1.25rem;
  }
  .skill-category-inner {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
  }
  .skill-label > span {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width: 776px) and (max-width: 1279px) {
  .skills-rank-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }  
  .skill-category-label > h1{
    font-size: 1.25rem;
  }
  .skill-category-inner {
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
  }
  .skill-label > span {
    font-size: 1rem;
    font-weight: 600;
  }
}

.philosophy-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  background-color: var(--orange);
  padding: 0;
}

.philosophy-content {
  display: flex;
  flex-direction: column;
}

.philosophy-header {
  display: flex;
  align-items: center;
  background-color: var(--orange);
  width: 100%;
  gap: 2rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--white);
  z-index: 1;
}

.philosophy-header > h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}

.philosophy-tabs {
  display: flex;
  gap: 0.5rem;
}

.philosophy-tab {
  position: relative;
  display: flex;
  justify-content: center;
  appearance: none;
  border: none;
  background-color: unset;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.philosophy-tab:hover {
  color: var(--grey);
}

.philosophy-tab.active {
  color: var(--white);
}

.philosophy-tab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 75%;
  height: 3px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.philosophy-tab.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.svg-box {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.philosophy-tab-content {
  display: none;
  opacity: 0;
  height: 0;
}

.philosophy-tab-content.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: 400;
  color: var(--black);
  opacity: 1;
  height: 500px;
  width: 100%;
}

.tab-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  padding: 1rem 6rem;
  gap: 1rem;
}

.philo-bullet {
  display: flex;
  flex: 1;
  opacity: 1;
  width: 100%;
}
.philo-bullet.start {
  justify-content: flex-start;
}
.philo-bullet.middle {
  justify-content: center;
}
.philo-bullet.end {
  justify-content: flex-end;
}

.bullet-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  z-index: 1;
}

.bullet-content {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  border-radius: 1.5rem;
  gap: 0.25rem;
  padding: 1rem;
  width: 30rem;
  animation: tab-content-slide 700ms ease-in;
}

.bullet-content > h1 {
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid black;
  padding: 0 0 0.25rem 0.25rem;
}

.bullet-content > p {
  padding: 0.25rem 0 0 0.25rem;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1145px) {
  #philosophy-svg-desktop.slide-in {
    animation: none;
  }
  
  #philosophy-svg-desktop.slide-out {
    animation: none;
  }
}

@media (max-width: 480px) {
  .philosophy-section {
    background-color: var(--orange);
    border: unset;
  }
  .philosophy-header {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--orange);
  }
  .philosophy-header > h1 {
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
  }
  .philosophy-tab-content.active {
    height: 550px;
  }
  .philosophy-tab {
    font-size: 1.25rem;
  }
  .tab-content-box {
    align-items: center;
    padding: 0.5rem 2rem;
    gap: unset;
  }
  .philo-bullet {
    display: flex;
    justify-content: flex-end;
    flex: 0.25rem;
    opacity: 1;
    width: 100%;
  }
  .philo-bullet.end, .philo-bullet.start, .philo-bullet.middle {
    justify-content: center;
    align-items: flex-start;
  }
  .bullet-group {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }
  .bullet {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .bullet-content {
    position: relative;
    left: unset;
    text-align: center;
    white-space: wrap;
    border-radius: 1rem;
    padding: 0.75rem;
    width: 100%;
  }
  .bullet-content.right {
    right: unset;
  }
  .bullet-content > h1 {
    white-space: pre-wrap;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .philosophy-section {
    border: unset;
  }
  .philosophy-header {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--orange);
  }
  .philosophy-header > h1 {
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
  }
  .philosophy-tab-content.active {
    height: 550px;
  }
  .philosophy-tab {
    font-size: 1.25rem;
  }
  .tab-content-box {
    align-items: center;
    padding: 0.5rem 2rem;
    gap: unset;
  }
  .philo-bullet {
    display: flex;
    justify-content: flex-end;
    flex: 0.25rem;
    opacity: 1;
    width: 100%;
  }
  .philo-bullet.end, .philo-bullet.start, .philo-bullet.middle {
    justify-content: center;
    align-items: flex-start;
  }
  .bullet-group {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }
  .bullet {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
  }
  .bullet-content {
    position: relative;
    left: unset;
    text-align: center;
    white-space: wrap;
    border-radius: 1rem;
    padding: 0.75rem;
    width: 100%;
  }
  .bullet-content.right {
    right: unset;
  }
  .bullet-content > h1 {
    white-space: pre-wrap;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .philosophy-section {
    background-color: var(--orange);
    border: unset;
  }
  .philosophy-header {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--orange);
  }
  .philosophy-header > h1 {
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
  }
  .philosophy-tab-content.active {
    height: 550px;
  }
  .philosophy-tab {
    font-size: 1.25rem;
  }
  .tab-content-box {
    align-items: center;
    padding: 0.5rem 2rem;
    gap: unset;
  }
  .philo-bullet {
    display: flex;
    justify-content: flex-end;
    flex: 0.25rem;
    opacity: 1;
    width: 100%;
  }
  .philo-bullet.end, .philo-bullet.start, .philo-bullet.middle {
    justify-content: center;
    align-items: flex-start;
  }

  .bullet-group {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }
  .bullet {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .bullet-content {
    position: relative;
    left: unset;
    text-align: center;
    white-space: wrap;
    border-radius: 1rem;
    padding: 0.75rem;
    width: 30rem;
  }
  .bullet-content.right {
    right: unset;
  }
  .bullet-content > h1 {
    white-space: pre-wrap;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .svg-box {
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}
@media (min-width: 1440px) and (max-width: 1726px) {
  .svg-box {
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
  }
  .bullet-content > h1 {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
  }
  .bullet-content > p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 1727px) and (max-width: 1921px) {
  .svg-box {
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
  }
  .bullet-content > h1 {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
  }
  .bullet-content > p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 1921px) {
  .svg-box {
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
  }
  .bullet-content > h1 {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
  }
  .bullet-content > p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
  }
}


.how-section {
  display: flex;
  padding: 3rem 0;
  max-width: 72rem;
  margin: 0 auto;
  position: relative;
}

.how-title {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
}

.title-group {
  position: relative;
}

.how-title.sticky > .title-group {
  position: sticky;
  top: 4rem;
}

.how-title.stick-bottom > .title-group {
  position: absolute;
  bottom: 4rem;
}

.title-group > h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--orange);
  z-index: 1;
}

.how-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  gap: 1.75rem;
  background-color: var(--black);
  border-radius: 1rem;
  padding: 2rem;
}

.how-row {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--white);
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 0.5rem;
}

.how-col {
  display: flex;
  height: 100%;
  padding: 1rem;
}

.how-col span {
  margin-top: 0.25rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.how-col p {
  font-weight: 500;
  font-size: 1rem;
}

.how-col.col-sm {
  flex: 0 0 10%;
}
.how-col.col-md {
  flex: 0 1 30%;
}
.how-col.col-lg {
  flex: 0 1 60%;
}

.how-col.center {
  justify-content: center;
  padding: 0;
}
.how-col.end {
  justify-content: flex-end;
}

@media screen and (max-width: 728px) {
  .how-section {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
    gap: 1rem;
  }
  .how-title.sticky > .title-group {
    position: static;
  }
  .how-title.stick-bottom > .title-group {
    position: static;
  }
  .title-group {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .title-group > h1 {
    font-size: 2.25rem;
    z-index: 1;
  }
  .how-content {
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .how-row {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .how-col {
    width: 100%;
    justify-content: center;
    padding: 0.25rem;
  }
  .how-col > span {
    font-size: 2rem;
  }
  .how-col > p {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
  }
  .how-col.center {
    justify-content: center;
  }
}
@media screen and (min-width: 728px) and (max-width: 1024px) {
  .how-section {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .how-content {
    gap: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .how-title.sticky > .title-group {
    position: static;
  }
  .how-title.stick-bottom > .title-group {
    position: static;
  }
  .title-group {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .title-group > h1 {
    font-size: 3rem;
    z-index: 1;
  }
  .how-content {
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
  }
  .how-row {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .how-col {
    width: 100%;
    justify-content: center;
  }
  .how-col > span {
    font-size: 2rem;
  }
  .how-col > p {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .how-section {
    padding: 2rem;
    gap: 1rem;
  }
  .title-group > h1 {
    font-size: 2.75rem;
    text-align: center;
    z-index: 1;
  }
  .how-content {
    gap: 1rem;
    padding: 2rem 6rem;
    border-radius: 1.5rem;
  }
  .how-row {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .how-col {
    width: 100%;
    justify-content: center;
  }
  .how-col > span {
    font-size: 2rem;
  }
  .how-col > p {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
}

.contact-cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  max-width: 72rem;
  margin: 0 auto;
}

.contact-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 3rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  transition: padding 600ms ease;
}

.contact-btn-box {
  display: flex;
}
.contact-hr-box {
  display: flex;
  flex: 1;
}
.contact-heading-box {
  display: flex;
}

.contact-hr-box > hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-color: var(--black);
  margin: 0;
}

.contact-heading-box > h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media screen and (max-width: 360px) {
  .contact-cta-section {
    padding: 1.5rem;
  }
  .contact-cta-section.in-view > .contact-cta {
    padding: 1rem;
  }
  .contact-cta {
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem;
  }
  .contact-hr-box {
    display: none;
  }
  .contact-heading-box > h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 360px) and (max-width: 728px) {
  .contact-cta-section {
    padding: 1.5rem;
  }

  .contact-cta {
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
  }
  .contact-heading-box > h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contact-btn-box .link {
    width: 100px;
  }
}
@media screen and (min-width: 728px) and (max-width: 1024px) {
  .contact-cta-section {
    padding: 2rem;
  }
  .contact-cta {
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
  }
  .contact-heading-box > h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .contact-btn-box .link {
    width: 125px;
  }
}

.credits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--black);
}

.credits > h1 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

@keyframes tab-content-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

