:root {
  --black:  #302B2B;
  --yellow: #fad332;
  --orange: #ff3603;
  --pink-bg: #d44d4d;
  --white: rgb(226, 221, 211);
  --shadow: rgba(226, 221, 211, 0.747);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  margin: unset;
  line-height: 1;
}
p {
  line-height: 1.5;
  margin: unset;
}

main {
  background-color: #e2ddd3;
  color: var(--black);
}

.link {
  display: flex;
  align-items: center;
  color: var(--black);
  width: 100%;
  height: 3rem;
  opacity: 1;
  transition: color 0.3s ease, color 0.3s ease;
}
.link:hover {
  color: var(--pink-bg);
}

.hero-section {
  display: flex;
  padding: 2rem 4rem;
  background-color: var(--black);
}

.hero-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-title > h4 {
  color: var(--pink-bg);
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.hero-title > h1 {
  color: var(--white);
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-block-start: 0;
}

.hero-nav {
  display: flex;
  width:100%;
  justify-content: flex-end;
  gap: 4rem;
}

.hero-nav > nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.hero-nav > nav > ul {
  padding: 0;
}

.hero-nav > nav > ul > li {
  list-style-type: none;
}

.nav-link {
  color: var(--white);
  font-size: 3rem;
  height: 5rem;
}

.skills-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  background-color: var(--white);
}

.skills-mask {
  display: flex;
  width: 100%;
}

.skills-marquee {
  font-size: 5rem;
  font-weight: 500;
  color: var(--black);
  white-space: nowrap;
  animation: marquee 100s linear infinite;
  display: inline-block;
}

.skills-marquee span {
  display: inline-block;
}

.philosophy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 42.625rem;
  background-color: var(--pink-bg);
}

.philosophy-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.philosophy-header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 2rem;
  padding: 2rem 4rem;
  padding-bottom: 1rem;
  z-index: 1;
}

.philosophy-header > h1 {
  color: var(--white);
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.philosophy-tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.philosophy-tab {
  appearance: none;
  border: none;
  background-color: unset;
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.philosophy-tab:hover {
  color: var(--white);
}

.philosophy-tab.active {
  text-decoration: underline;
  color: var(--pink-font);
}

.philosophy-inner {
  display: flex;
  height: 100%;
  padding: 2rem;
}

.svg-box {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 0;
}

#philosophy-svg {
  width: 100%;
  height: 100%;
}

#philosophy-svg.slide-in {
  animation: slideIn 1s ease-out forwards;
}

#philosophy-svg.slide-out {
  animation: slideOut 1s ease-out forwards;
}

.philosophy-tab-content {
  display: none;
  opacity: 0;
  height: 0;
}

.philosophy-tab-content.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: 400;
  color: var(--black);
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.philo-bullet {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  opacity: 1;
  transform: skew(0deg, 168deg);
}

.bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.bullet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: 17rem;
  animation: tab-content-slide 400ms ease-in-out;
}

.bullet-content > span {
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: font-size 0.3s ease;
}

.bullet-content > span:hover {
  font-size: 2rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem;
  min-height: 30rem;
  background-color: var(--yellow);
}

.about-section-header {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
}

.about-section-header > h4 {
  color: var(--black);
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
}

.about-tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.about-tab {
  appearance: none;
  border: none;
  background-color: unset;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.about-tab:hover {
  color: var(--orange);
}

.about-tab.active {
  text-decoration: underline;
  color: var(--black);
}

.about-tab-content {
  display: none;
  opacity: 0;
}

.about-tab-content.active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 1;
  animation: tab-content-slide 500ms ease-in-out;
}

.about-tab-content.active > p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black);
}

.links-section {
  display: flex;
  justify-content: center;
  padding: 1rem 4rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.links > .link {
  font-size: 1.5rem;
}

.credits {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
}

.credits > h3 {
  font-size: 0.75rem;
  font-weight: 400;
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}

@keyframes tab-content-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (hover: none) {
  .bullet-content > span:hover {
    font-size: 1.25;
  }
  .philosophy-tab:hover {
    color: var(--black);
  }
  .about-tab:hover {
    color: var(--black);
  }
}

/* mobile */
@media screen and (max-width: 575px) {
  .hero-section {
    padding: 2rem;
  }
  
  .hero-inner {
    gap: 0;
  }

  .hero-title {
    gap: 0.75rem;
  }
  
  .hero-title > h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .hero-title > h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  
  .hero-nav {
    display: none
  }

  .hero-image {
    display: none;
  }

  .skills-marquee {
    font-size: 2rem;
  }

  .philosophy-section {
    display: flex;
    position: relative;
    align-items: center;
    height: unset;
  }

  .svg-box {
    height: unset;
  }

  #philosophy-svg.slide-in {
    animation: none;
  }
  
  #philosophy-svg.slide-out {
    animation: none;
  }
  
  .philosophy-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0;
    padding-bottom: 0;
  }
  
  .philosophy-header > h1 {
    font-size: 3rem;
  }

  .philosophy-tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: unset;
  }
  
  .philosophy-tab {
    font-size: 1rem;
    font-weight: 600;
  }

  .philosophy-tab:hover {
    color: var(--black);
  }
  
  .philosophy-inner {
    padding: 2rem 0;
    padding-bottom: 2rem;
  }

  .philosophy-tab-content.active {
    gap: 1rem;
    justify-content: flex-start;
  }

  .philo-bullet {
    transform: skew(0, 0);
  }
  
  .bullet-content {
    min-width: none;
  }

  .bullet-content > span {
    font-size: 1.25rem;
  }
  
  .bullet-content > span:hover {
    font-size: 1rem;
  }

  .about-section {
    gap: 1rem;
    padding: 2rem;
  }
  
  .about-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .about-section-header > h4 {
    font-size: 3rem;
  }
  
  .about-tabs {
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .about-tab {
    font-size: 1rem;
    font-weight: 600;
  }

  .about-tab:hover {
    color: var(--black);
  }

  .about-tab-content.active > p {
    font-size: 1.25rem;
  }

  .links > .link {
    font-size: 1rem;
    height: fit-content;
  }

  .links-section {
    padding: 1rem 2rem;
  }  

  .links {
    gap: 1rem;
  }
}

/* large mobile */
@media screen and (min-width: 600px) and (max-width: 767.98px) {
  .hero-inner {
    gap: 1rem;
    align-items: center;
  }

  .hero-title > h4 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .hero-title > h1 {
    font-size: 3.25rem;
    font-weight: 900;
    text-align: center;
  }

  .hero-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
  }
  
  .hero-nav > nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .hero-nav > nav > ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    font-size: 1.25rem;
  }

  .hero-image {
    display: none;
  }

  .skills-marquee {
    font-size: 2rem;
  }

  .philosophy-section {
    display: flex;
    position: relative;
    align-items: center;
    height: unset;
  }
  
  .svg-box {
    height: unset;
  }
  
  .philosophy-inner {
    display: flex;
    height: 100%;
  }
  
  #philosophy-svg.slide-in {
    animation: none;
  }
  
  #philosophy-svg.slide-out {
    animation: none;
  }

  .philosophy-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0;
    padding-bottom: 0;
  }
  
  .philosophy-header > h1 {
    font-size: 4rem;
  }
  
  .philosophy-tabs {
    display: flex;
    gap: 0.5rem;
    margin-bottom: unset;
  }
  
  .philosophy-inner {
    padding: 3rem 0;
    padding-bottom: 3rem;
  }

  .philosophy-tab:hover {
    color: var(--black);
  }
  
  .philo-bullet {
    transform: skew(0, 0);
  }

  .bullet-content > span {
    font-size: 1.5rem;
  }
  
  .bullet-content > span:hover {
    font-size: 1.5rem;
  }

  .about-section {
    gap: 1rem;
    padding: 2rem;
  }
  
  .about-section-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-section-header > h4 {
    font-size: 4rem;
  }
  
  .about-tabs {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .about-tab:hover {
    color: var(--black);
  }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1031px) {
  .hero-section {
    padding: 2rem 2rem;
  }
  
  .hero-inner {
    gap: 1rem;
  }
  
  .hero-title > h4 {
    font-size: 2rem;
    font-weight: bold;
  }

  .hero-title > h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  
  .hero-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
  }
  
  .hero-nav > nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .hero-nav > nav > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    font-size: 1.75rem;
  }

  .skills-marquee {
    font-size: 3rem;
  }

  .philosophy-section {
    display: flex;
    position: relative;
    align-items: center;
    height: unset;
  }
  
  .philosophy-content {
    justify-content: flex-end;
  }

  .svg-box {
    height: unset;
  }
  
  .philosophy-inner {
    padding: 2rem;
    padding-bottom: 2rem;
  }
  
  #philosophy-svg.slide-in {
    animation: none;
  }
  
  #philosophy-svg.slide-out {
    animation: none;
  }

  .philosophy-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    padding: 2rem;
    padding-bottom: 0;
  }
  
  .philosophy-header > h1 {
    font-size: 4rem;
  }
  
  .philosophy-tab:hover {
    color: var(--black);
  }

  .philo-bullet {
    align-items: flex-end;
    transform: skew(0, 0);
  }

  .bullet-content > span {
    font-size: 1.5rem;
  }
  
  .bullet-content > span:hover {
    font-size: 1.5rem;
  }

  .about-section {
    gap: 1rem;
    padding: 2rem;
  }

  .about-section-header {
    align-items: center;
  }
  
  .about-section-header > h4 {
    font-size: 4rem;
  }
  
  .about-tabs {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .about-tab:hover {
    color: var(--black);
  }
}
